.section {
  background-image: -webkit-linear-gradient(315deg, #dd1173, #350e47);
  background-image: linear-gradient(135deg, #dd1173, #350e47);
}

.body {
  display: block;
  background-image: -webkit-linear-gradient(270deg, #fff, #fff);
  background-image: linear-gradient(180deg, #fff, #fff);
}

.container {
  background-color: transparent;
}

.section-2 {
  background-image: -webkit-linear-gradient(315deg, #dd1173, #350e47);
  background-image: linear-gradient(135deg, #dd1173, #350e47);
}

.container-2 {
  position: absolute;
  top: 10px;
  right: 270px;
  bottom: 0px;
  background-color: transparent;
}

.nav-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 80vw;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px none hsla(0, 0%, 100%, .1);
  background-color: transparent;
}

.nav-logo-wrap {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.nav-menu-2 {
  left: 59%;
}

.nav-link {
  margin-right: 15px;
  margin-bottom: 20px;
  margin-left: 15px;
  padding-top: 40px;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}

.nav-link:hover {
  box-shadow: inset 0 -5px 0 0 #fc0a7e;
  color: #fff;
}

.section-3 {
  background-image: -webkit-linear-gradient(318deg, #000, #fff);
  background-image: linear-gradient(132deg, #000, #fff);
}

.navbar {
  background-color: transparent;
}

.section-4 {
  position: relative;
  min-height: 100vh;
  background-image: -webkit-linear-gradient(315deg, #dd1173, #350e47);
  background-image: linear-gradient(135deg, #dd1173, #350e47);
}

.navbar-2 {
  background-color: transparent;
}

.heading {
  position: relative;
  top: -3px;
}

.section-5 {
  position: relative;
  display: block;
  width: auto;
  min-height: 100vh;
  float: none;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  background-color: #1b1b1b;
}

.section-6 {
  display: block;
  width: 21%;
  margin-right: auto;
  margin-left: auto;
  background-color: #fff;
}

.wrap {
  position: relative;
  display: block;
  max-width: 300px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 20px;
  padding-bottom: 40px;
  text-align: center;
}

.title {
  display: inline-block;
  padding-bottom: 5px;
  border-bottom: 1px none #2e2e2e;
  color: #a8a8a8;
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.heading-2 {
  max-width: 700px;
  color: #fff;
  font-size: 450%;
}

.div-block-18 {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: -22px;
  width: 100%;
  min-height: 100vh;
  background-image: url('../images/StLouisFooterImage.png');
  background-position: 50% 100%;
  background-size: 1299px;
  background-repeat: repeat-x;
  background-attachment: scroll;
  font-size: 20px;
}

.form-block-2 {
  position: relative;
  top: 91px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0px;
  float: none;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
}

.form-4 {
  position: relative;
  left: 0%;
  top: 50px;
  bottom: -289px;
  display: block;
  width: 20%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 0px;
  padding-left: 0px;
  float: none;
  clear: none;
}

.select-field-2 {
  border: 1px none #000;
  background-color: #000;
  box-shadow: inset 0 0 2px 0 #fff;
  font-weight: 700;
}

.select-field {
  font-weight: 700;
}

.submit-button {
  display: block;
  margin-right: auto;
  margin-left: auto;
  background-color: #639;
}

.heading-13 {
  width: 117%;
  color: #000;
  font-size: 330%;
}

.number {
  display: block;
  width: 15%;
  margin-right: auto;
  margin-left: auto;
  color: #602bb6;
  font-size: 60px;
  line-height: 90px;
  text-align: center;
}

.heading-14 {
  display: block;
  width: 70vh;
  margin: 40px auto 20px;
  color: #000;
  font-size: 330%;
  text-align: center;
}

.section-7 {
  min-height: 100vh;
}

.number-2 {
  position: relative;
  right: 18px;
  display: block;
  width: 15%;
  height: 60%;
  margin-right: auto;
  margin-left: auto;
  float: right;
  clear: none;
  color: #602bb6;
  font-size: 60px;
  line-height: 90px;
  text-align: center;
}

.number-2-copy {
  display: block;
  width: 30%;
  margin-right: auto;
  margin-left: auto;
  color: #602bb6;
  font-size: 60px;
  line-height: 90px;
  text-align: center;
}

.copyagn {
  position: relative;
  left: 18px;
  display: block;
  width: 15%;
  margin-right: auto;
  margin-left: auto;
  float: left;
  clear: none;
  color: #602bb6;
  font-size: 60px;
  line-height: 90px;
  text-align: center;
}

.black-text {
  position: absolute;
  left: -7px;
  bottom: 0px;
  display: block;
  width: 27.8%;
  height: 5%;
  margin-top: -12px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 2px;
  float: none;
  color: #000;
  line-height: 24px;
  text-align: center;
}

.column {
  text-align: center;
}

.feature-content {
  position: relative;
  left: 317px;
  width: 50vw;
  max-width: 450px;
  padding-right: 4vw;
  padding-left: 4vw;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  border: 1px none #000;
}

.black-text-2 {
  color: #000;
}

.feature-content-copy {
  width: 50vw;
  max-width: 450px;
  padding-right: 4vw;
  padding-left: 4vw;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  border: 1px none #000;
}

.feature-content-2 {
  position: relative;
  left: 26%;
  top: 27px;
  width: 50vw;
  max-width: 450px;
  padding-right: 4vw;
  padding-left: 4vw;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  border: 1px none #000;
}

.paragraph {
  font-size: 20px;
}

.black-text-copy {
  position: absolute;
  right: 0px;
  bottom: 0px;
  display: block;
  width: 25%;
  height: 5%;
  margin-top: -12px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 2px;
  float: none;
  color: #000;
  line-height: 24px;
  text-align: center;
}

.black-text-copycopy {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: block;
  width: 25%;
  height: 5%;
  margin-top: -12px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 2px;
  float: none;
  color: #000;
  line-height: 24px;
  text-align: center;
}

.button {
  position: relative;
  left: 5%;
  top: 52vh;
  right: 0%;
  bottom: 0%;
  z-index: 2;
  display: inline-block;
  margin-right: 0px;
  padding: 20px 40px;
  border-radius: 3px;
  background-color: #fc0a7e;
  -webkit-transition: background-color 500ms cubic-bezier(.789, .159, .25, 1), color 200ms cubic-bezier(.789, .159, .25, 1);
  transition: background-color 500ms cubic-bezier(.789, .159, .25, 1), color 200ms cubic-bezier(.789, .159, .25, 1);
  color: #fff;
  font-size: 16px;
  line-height: 26px;
  font-weight: 600;
  text-align: center;
}

.button:hover {
  background-color: #fff;
  color: #6b6b6b;
}

.select-field-3 {
  background-color: #db0d0d;
  font-weight: 700;
}

.map {
  position: relative;
  left: 53%;
  top: -21vh;
  right: 0px;
  bottom: 7%;
  z-index: 2000;
  width: 75vh;
  height: 55vh;
  border-radius: 5%;
  box-shadow: 12px 12px 13px -5px #000;
  opacity: 1;
}

.rich-text-block {
  width: 50%;
}

.heading-15 {
  position: relative;
  left: 2%;
  color: #fff;
  font-size: 5vh;
}

.heading-16 {
  position: relative;
  left: 55px;
  color: #fff;
}

.heading-17 {
  position: relative;
  left: 5%;
  top: 9vh;
  width: 43%;
  color: #fff;
  font-size: 44px;
  line-height: 5vh;
}

.heading-18 {
  position: relative;
  left: 5%;
  top: 12vh;
  width: 45%;
  color: #fff;
  line-height: 4vh;
  font-weight: 400;
}

.heading-19 {
  position: relative;
  left: 24%;
  top: 8vh;
  right: 0px;
  bottom: -5px;
  width: 10%;
  color: #000;
  font-size: 271%;
  line-height: 48px;
  font-weight: 500;
  text-align: center;
}

.paragraph-2 {
  position: relative;
  left: 21%;
  top: 10vh;
  right: 0px;
  bottom: 0px;
  max-width: 40vh;
  float: none;
  clear: none;
  color: #6b6b6b;
  font-size: 16px;
  line-height: 30px;
}

.heading-19-copy {
  position: relative;
  left: 66%;
  top: -29vh;
  right: 0px;
  bottom: 0px;
  width: 15%;
  color: #000;
  font-size: 271%;
  line-height: 48px;
  font-weight: 500;
}

.paragraph-2-copy {
  position: relative;
  left: 62%;
  top: -28vh;
  right: 0px;
  max-width: 40vh;
  color: #6b6b6b;
  font-size: 16px;
  line-height: 30px;
}

.heading-20 {
  position: relative;
  left: 42%;
  top: 11vh;
  display: block;
  width: 35vh;
  text-align: center;
}

.heading-21 {
  position: relative;
  left: 126vh;
  top: 26vh;
  right: 10vh;
  width: 15vh;
  color: #000;
  text-align: center;
}

.heading-21-copy {
  position: relative;
  left: 58vh;
  top: 16vh;
  width: 15vh;
  color: #000;
  text-align: center;
}

.section-7-copy {
  position: relative;
  min-height: 100vh;
}

.heading-21-copy-copy {
  position: relative;
  left: 155vh;
  top: 18vh;
  right: -38px;
  width: 15vh;
  color: #000;
  text-align: center;
}

.heading-21-copy-copy2 {
  position: relative;
  left: 32vh;
  top: 7vh;
  width: 15vh;
  color: #000;
  text-align: center;
}

.columns {
  position: relative;
  top: 14vh;
}

.text-block {
  color: #602bb6;
  font-size: 18px;
  text-align: center;
}

.text-block-2 {
  color: #602bb6;
  font-size: 18px;
  text-align: center;
}

.text-block-3 {
  color: #602bb6;
  font-size: 18px;
  text-align: center;
}

.text-block-4 {
  color: #602bb6;
  font-size: 18px;
  text-align: center;
}

.text-block-5 {
  text-align: center;
}

.text-block-6 {
  text-align: center;
}

.text-block-7 {
  text-align: center;
}

.text-block-8 {
  text-align: center;
}

.heading-22 {
  color: #000;
  font-size: 271%;
  font-weight: 400;
  text-align: center;
}

.columns-2 {
  position: relative;
  top: 41px;
}

.heading-23 {
  color: #000;
  font-size: 271%;
  line-height: 30px;
  font-weight: 400;
  text-align: center;
}

.paragraph-3 {
  color: #6b6b6b;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
}

.paragraph-4 {
  color: #6b6b6b;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
}

.heading-24 {
  position: relative;
  left: 7%;
  font-family: Oswald, sans-serif;
  color: #602bb6;
  font-size: 52px;
}

.text-block-9 {
  position: relative;
  left: 124px;
  top: -40px;
  color: #602bb6;
  font-size: 20px;
}

.body-2 {
  background-color: #1b1b1b;
}

.heading-25 {
  position: relative;
  top: 302px;
  display: block;
  width: 700px;
  margin-right: auto;
  margin-bottom: 26px;
  margin-left: auto;
  color: #fff;
  font-size: 60px;
  text-align: center;
}

.heading-26 {
  position: relative;
  left: 752px;
  top: 289px;
  display: block;
  width: 130px;
  color: #fff;
  text-align: center;
}

.heading-27 {
  position: relative;
  left: 598px;
  top: 390px;
  width: 30%;
  color: #fff;
}

@media (max-width: 991px) {
  .nav-inner {
    width: 100vw;
  }
  .brand {
    padding-left: 18px;
  }
  .nav-menu-2 {
    min-width: 240px;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: #000;
  }
  .nav-link {
    padding-top: 20px;
  }
  .nav-link:hover {
    box-shadow: none;
  }
  .menu-button.w--open {
    background-color: #000;
  }
  .menu-icon {
    color: #fff;
    font-size: 40px;
  }
  .heading-3 {
    font-size: 8vw;
  }
}

@media (max-width: 767px) {
  .menu-icon {
    font-size: 30px;
  }
  .wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    max-width: none;
    padding-right: 15vw;
    padding-left: 15vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

@media (max-width: 479px) {
  .nav-inner {
    width: 100vw;
  }
  .wrap {
    padding-right: 5vw;
    padding-left: 5vw;
  }
  .number {
    font-size: 40px;
  }
  .number-2 {
    font-size: 40px;
  }
  .number-2-copy {
    font-size: 40px;
  }
  .copyagn {
    font-size: 40px;
  }
  .feature-content {
    width: auto;
  }
  .feature-content-copy {
    width: auto;
  }
  .feature-content-2 {
    width: auto;
  }
  .heading-3 {
    font-size: 42px;
    line-height: 56px;
  }
}

#w-node-760729d769f3 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

#form.w-node-760729d769f5 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

#w-node-760729d76a00 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

#w-node-760729d76a03 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

